* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  nav ul li img {
    max-width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    font-size: 40px;
    list-style-type: none;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    padding: 1% 4%;
    width: 95%;
    margin-bottom: 50px;
    background-color: white;
  }
  nav {
    margin-top: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .system {
    position: fixed;
    min-width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .system ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 70%;
    min-width: 70%;
    padding: 2%;
    border-radius: 60px;
    background-color: white;
  }
  .system ul li {
    list-style-type: none;
    font-size: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user.active {
    transition: all 0.2s ease-in-out;
    margin-top: -83px;
  }

  .user {
    transition: all 0.2s ease-in-out;
    margin-top: 0px;
    background-color: white;
  }

  .profiles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .profiles {
    height: 92.55vh;
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-info {
    color: white;
    position: absolute;
    bottom: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .profile-info .bio {
    max-width: 80%;
  }
  .topInfo {
    display: flex;
    gap: 10px;
  }
  .topInfo {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .age {
    font-weight: 600;
  }
  .name {
    font-weight: 100;
  }
  .profile-window {
    position: absolute;
    background-color: #ec0a57;
    width: 100%;
    height: 80%;
    bottom: -100%;
    border-radius: 33px 33px 0px 0px;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
  }
  .profile-window.active {
    bottom: 0%;
    transition: all 0.2s ease-in-out;
  }
  .infobox h2 {
    color: white;
    margin-bottom: 50px;
  }
  .profile-window-content {
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    gap: 10px;
  }
  .profile-window-content p {
    margin-bottom: 30px;
  }
  .tags ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  .tags ul li {
    border: 1px solid white;
    padding: 1% 3%;
    border-radius: 50px;
  }
}
